.event-preview {
  margin: rem( 40 ) 0;
}

.event-organizer {
  display: flex;
  align-items: center;
  text-align: center;

  div {
    margin: 0 auto;
  }

  .event-organizer-img + div {
    margin-right: 0;
  }
}

.event-organizer-img {
  height: rem( 98 );

  img {
    height: 100%;
  }
}

.event-organizer-title {
  @extend %title-level3;

  color: $blue;
  margin-top: rem( 16 );

  a {
    text-decoration: none;

    @include interact() {
      text-decoration: underline;
    }
  }
}

.event-organizer-tags {
  $spacing: rem( 8 );

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc( 100% + $spacing );
  margin: $spacing 0;
  margin-left: $spacing * -1;

  li {
    margin: $spacing;
  }
}

.event-preview-details {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: $box-shadow-small;
}

.event-preview-info {
  background: $purple;
  color: white;
  display: flex;
  padding: rem( 16 ) rem( 30 );
}

.event-preview-date {
  text-align: center;
  margin-right: auto;

  span {
    display: block;
  }
}

.event-preview-day {
  @extend %title-level3;
}

.event-preview-time {
  margin-top: rem( 16 );
}

.event-preview-content {
  padding: rem( 32 ) rem( 30 );

  .event-preview-address {
    margin: rem( 12 ) 0;

    + p {
      margin-top: 0;
    }
  }

  p {
    margin: ( 1em * ( 24 / 16 ) ) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    word-break: break-all;
    word-break: break-word;
  }
}

.event-preview-title {
  @extend %title-level3;

  margin-bottom: rem( 8 );
  color: $blue;

  a {
    text-decoration: none;

    @include interact() {
      text-decoration: underline;
    }
  }
}

.event-preview-address {
  font-size: rem( 13 );
  line-height: (24 / 13);
  color: rgba( $blue, 0.5 );

  &::first-letter {
    text-transform: uppercase;
  }
}

@media ( min-width: #{$medium} ) {
  .event-preview-date {
    padding: 30px 0;
    position: relative;
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .event-preview-date-container {
    time {
      display: block;

      span {
        display: block;
      }
    }
  }

  .event-preview-day {
    font-size: 48px;
  }

  .event-preview-month,
  .event-preview-daymonth {
    font-size: 24px;
  }
}
