.festival-intro {
  margin-bottom: rem( 80 );
  margin-top: rem( 80 );
  text-align: center;

  .festival-title {
    @extend %title-level2;

    @include title-separator( center, $purple);
  }

  p {
    @include hide();
  }
}


@media ( min-width: $medium ) {
  .festival-intro {
    p {
      @include hide-reset();

      max-width: rem( 520 );
      margin: rem( 32 ) auto rem( 64 );
    }
  }
}
