footer.site-footer {
  color: #fff;
  background-color: $blue-dark;
  padding: $gutter 0 env( safe-area-inset-bottom );
  a { text-decoration: none; }
  img { display: block; }

  .container {
    display: flex;
    flex-direction: column;

    @media screen and ( min-width: $medium ) {
      flex-direction: row;
    }
  }

  .footer-content {
    > * + * { margin-top: $gutter; }
  }

  .footer-desc {
    p { max-width: 75%; }
  }

  .footer-menu {
    li + li { margin-top: $gutter / 2; }
  }
  .footer-asso { align-items: flex-end; }

  .colophon {
    margin-top: $gutter;
    padding: $gutter / 2 0;
    text-align: center;
    background-color: $blue;

    .container {
      > * + * { margin-top: $gutter / 2; }

      @media screen and ( min-width: $medium ) {
        flex-direction: row-reverse;
      }
    }
  }

  .reseaux-sociaux {
    display: flex;
    justify-content: space-around;
  }
}

// @media screen and ( max-width: 767px ) {
//   #masthead .navbar-nav > li > a {
//     padding-bottom: 0.938rem;
//     padding-top: 0.938rem;
//   }
// }
