@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY( -10% );
  }

  100% {
    opacity: 1;
    transform: translateY( 0 );
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: translateY( -10% );
  }

  0% {
    opacity: 1;
    transform: translateY( 0 );
  }
}

.site-navigation-opener {
  transition: color $anim-duration $anim-easing;
  padding: rem( 12 ) rem( 7 );
  margin-right: rem( -7 );

  @include interact() {
    color: $purple;
  }

  svg {
    height: rem( 16 );
    width: rem( 26 );
  }
}

.site-navigation {
  display: none;
  background-color: white;
  font-size: rem( 14 );
  font-weight: 700;
  line-height: ( 18 / 14 );
  transition: height $navFadeDuration $anim-easing, box-shadow $anim-duration $anim-easing;
  box-shadow: 0 0 0 rgba( black, 0 );

  &.t-play {
    overflow: hidden;
    display: block;
  }

  @media ( max-width: $max-small ) {
    &[aria-hidden=false] {
      display: block;
      box-shadow: 4px 24px 24px rgba( 24, 35, 70, 0.24 );
    }
  }

  .dropdown-menu {
    display: none;
  }

  &:focus-within {
    a:not([class^=cta-]) {
      &[aria-current] {
        color: currentColor;
      }
    }
  }

  &:hover {
    a:not([class^=cta-]) {
      &[aria-current] {
        color: currentColor;
      }
    }
  }


  a:not([class^=cta-]) {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $anim-duration $anim-easing;

    @include interact() {
      color: $purple;
    }

    &[aria-current] {
      color: $purple;
    }

    @media ( max-width: $max-small ) {
      &.dropdown{
        align-items: center;
        display: flex;
        justify-content: space-between;

        &[aria-expanded="true"]{
          svg {
            transform: scale( 1, -1 )
          }
        }

        svg {
          transition: transform $navFadeDuration $anim-easing;
        }
      }
    }
  }

  .dropdown-menu{
    transition: height $navFadeDuration $anim-easing;

    li {
      a {
        text-transform: none;
      }
    }

    &[aria-hidden="false"]{
      display: block;
    }

    &.t-play {
      overflow: hidden;
      display: block;
    }

    @media ( max-width: $max-small ) {
      & {
        background-color: rgba($blue, 0.08);
        padding: 0 rem( 16) 0 rem( 16*2 );
        width: calc( 100% + #{rem( 16*2 )} );
        margin-left: rem( -16 );
      }
    }
  }

  [aria-controls] {
    display: inline-flex;
    border: 0;
    background-color: transparent;
    align-items: center;
    padding: 0;

    &::after {
      $triangle-width: rem( 8 / 2 );

      @include triangle(bottom, $triangle-width, $triangle-width, $blue);

      content: "";
      margin-left: rem( 8 );
    }
  }
}

@media ( max-width: $max-small ) {
  .site-navigation {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0  $gutter / 2;

    > ul {
      animation: fadeIn $navFadeDuration $anim-easing both;
    }

    &[aria-hidden=true] {
      > ul {
        animation-name: fadeOut;
      }
    }

    a:not([class^=cta-]) {
      display: block;
      padding: $gutter / 2;
    }

    [class^=cta-] {
      margin: rem( 4 ) $gutter / 2;
    }
  }
}

@media ( min-width: $medium ) {
  .site-navigation-opener {
    display: none;
  }

  .site-navigation {
    background-color: transparent;
    display: block;
    position: relative;

    > ul {
      align-items: center;
      display: grid;
      grid-column-gap: rem( 16 );
      grid-template-columns: 1fr 1fr $header-logo-width 1fr 1fr;
      height: rem( 64 );

      > li {
        align-items: center;
        display: flex;
        height: 100%;
        position: relative;

        &.interact-within {

          > a:not([class^=cta-]) {
            background-color: rgba( $blue, 0.08 );
            color: $blue;

            .home & {
              background-color: white;
            }
          }

          .dropdown-menu {
            height: auto;
            opacity: 1;
            overflow: visible;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              width: 100%;
              height: rem( 16 );
              bottom: 100%;
            }
          }
        }

        &:nth-child(3) {
          grid-column-start: 4;
        }

        &:nth-child(n+3) {
          justify-content: flex-end;
          text-align: right;

          a:not([class^=cta-]) {
            margin-left: 0;
            margin-right: rem( -16 );
          }

          .dropdown-menu{
            left: rem( 16 );

            a {
              margin-right: 0;
            }
          }
        }

        &:nth-last-child(2) {
          padding-right: rem( 40 );
        }
      }

      .lang-switch {
        right: rem(-8);
        padding-left: rem( 16 );
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
      }
    }

    a:not([class^=cta-]) {
      vertical-align: bottom;
      display: inline-block;
      padding: rem( 8 ) rem( 16 );
      margin-left: rem( -16 );
      border-radius: 4px;
      transition: color $anim-duration $anim-easing, background-color $anim-duration $anim-easing;

      @include interact() {
        background-color: rgba( $blue, 0.08 );
        color: $blue;
      }

      .home & {
        @include interact() {
          background-color: white;
        }
      }

      &.dropdown {
        svg {
          display: none;
        }
      }
    }

    .lang-switch {
      a {
        margin-left: 0;
        margin-right: rem( -16 );
      }
    }

    .dropdown-menu{
      position: absolute;
      left: rem( -16 );
      top: 100%;
      display: block;
      white-space: nowrap;
      background-color: white;
      box-shadow: $box-shadow;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity $anim-duration $anim-easing;

      li {
        a {
          border-radius: 0;
          color: $blue;
          display: block;
          margin-left: 0;

          .home & {
            @include interact() {
              background-color: rgba( $blue, 0.08);
            }
          }
        }
      }
    }

    .home .site-header:not(.sticky) & {

      .variant-primary {
        background-color: white;
        color: $blue;

        @include interact() {
          background-color: $blue;
          color: white;
        }
      }
    }
  }
}

@media ( min-width: em( 1300 / 16 ) ) {
  .site-navigation {
    display: block;
    position: relative;

    > ul {
      grid-template-columns: 1fr 1fr $header-logo-width 1fr 1fr;

      > li {

        &:nth-last-child(2) {
          padding-right: 0;
        }
      }

      .lang-switch {
        right: auto;
        left: 100%;
        padding-left: rem( 16 );
      }
    }
  }
}
