$participants-spacing: rem( 30 / 2 );

.participant-category {
  margin: rem( 60 ) 0;

  .participant {
    box-shadow: $box-shadow-small;
    border-right: 8px;
    padding: rem( 32 ) rem( 30 );
    height: 100%;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: rem( 270 );
      text-decoration: none;
      transition: transform $anim-duration $anim-easing;

      @include interact() {
        transform: scale( $anim-scale );
      }
    }
  }

  .participant-title-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: rem( 32 ) 0 rem( 16 );
  }

  .participant-title {
    @extend %title-level3;
  }

  ul {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: $participants-spacing * -1;
  }

  li {
    margin: $participants-spacing;
    width: 100%;
  }

  .participant-img {
    display: block;
    height: rem( 190 );

    img {
      height: 100%;
    }

    & + .participant-title {
      margin-top: rem( 48 );
    }
  }
}

.participant-category-title {
  @extend %title-level3;

  @include title-separator(center, $purple);

  text-align: center;
}


h2.participant-category-title {
  @extend %title-level2;
}

@media ( min-width: $small ) {
  .participant-category {
    li {
      width: calc( #{( 100% / 2 )} - #{$participants-spacing * 2} );
    }
  }
}

@media ( min-width: $large ) {
  .participant-category {
    li {
      width: calc( #{( 100% / 3 )} - #{$participants-spacing * 2} );
    }
  }
}
