.title-text {
  margin-bottom: rem(  80 );

  .title-text-content > *:not(div) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &:not(.variant-wide) .title-text-content > *:not(div) {
    max-width: rem( 540 );
  }

  p {
    margin: rem( 16 * $line-height ) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .title-text-content > div {
    margin-top: rem( 32 );
  }
}

.title-text-title {
  @extend %title-level2;
  text-align: center;

  @include title-separator(center, $purple);
}
