// .title-text {
//   padding: rem( 80 ) 0;
// }

.title-text-title {
  @extend %title-level2;
  text-align: center;

  @include title-separator(center, $purple);
}

.title-text-content {
  max-width: rem( 540 );
  margin: 0 auto;
  text-align: center;

  p {
    margin: rem( 16 * $line-height ) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
