{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "block-opening-brace-space-after": "always-single-line",
    "block-closing-brace-space-before": "always-single-line",
    "function-parentheses-space-inside": "always",
    "max-empty-lines": 2,
    "media-feature-parentheses-space-inside": "always",
    "no-descending-specificity": null,
    "string-quotes": "double",
    "scss/at-rule-no-unknown": true,
    "scss/operator-no-unspaced": true
  }
}
