$pixel: em( 1 / 16 );

$xsmall: ( 360 / 16 * 1em );
$small: ( 576 / 16 * 1em );
$medium: ( 768 / 16 * 1em );
$large: ( 992 / 16 * 1em );
$xlarge: ( 1200 / 16 * 1em );

$max-xsmall: ($small - $pixel );
$max-small: ($medium - $pixel );
$max-medium: ($large - $pixel );
$max-large: ( $xlarge - $pixel );
