// Convert pixels to ems
@function em( $size ) {
  @return ( $size * 1em );
}

// Convert pixels to rems
@function rem( $size ) {
  @return ( $size / 16 * 1rem );
}


// Hide only visually, but have it available for screenreaders
@mixin hide() {
  border: 0;
  clip: rect( 0 0 0 0 );
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin hide-reset() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


@mixin interact() {
  .user-input-mouse &:hover,
  .user-input-keyboard &:focus,
  .user-input-touch &:active {
    @content;
  }
}


@mixin title-level( $size, $height, $spacing: false ) {
  font-size: rem( $size );
  line-height: ( $height / $size );

  @if $spacing {
    letter-spacing: em( $spacing / $size );
  }
}

@mixin title-separator( $align, $color: currentColor ) {
  $separator-height: 4;
  $separator-width: 64;
  $separator-spacing: 24;
  $title-spacing: 32;
  $pos: $align;
  $pct: 0;


  @if $align == center {
    $pos: left;
    $pct: 50%;
  }

  margin-bottom: rem( $title-spacing );
  padding-bottom: rem( $separator-spacing + $separator-height );
  position: relative;

  &::after {
    background-color: $color;
    bottom: 0;
    content: "";
    display: inline-block;
    position: absolute;
    height: rem( $separator-height );
    #{$pos}: $pct;
    width: rem( $separator-width );

    @if $align == center {
      margin-left: rem( $separator-width / -2 );
    }
  }
}
