.dates-list {
  display: flex;
  flex-wrap: wrap;
  margin: rem( 40 ) 0;
  margin-left: 1px;

  li {
    flex: 1 1 auto;
    width: (100% / 3);
    margin: -1px 0 0 -1px;

    &:nth-last-child(-n+2) {
      a {
        border-color: $yellow-dark;
        color: $yellow-dark;

        &[aria-current="true"] {
          background-color: $yellow-dark;
          color: white;
        }

        @include interact() {
          background-color: $yellow-dark;
          color: white;
        }
      }
    }
  }

  a {
    align-items: center;
    border-collapse: collapse;
    border: 1px solid $purple;
    color: $purple;
    display: flex;
    height: 100%;
    padding: rem( 20 ) rem( 10 );
    text-align: center;
    text-decoration: none;
    justify-content: center;
    transition: color $anim-duration $anim-easing, background-color $anim-duration $anim-easing;

    &[aria-current="true"] {
      background-color: $purple;
      color: white;
    }

    @include interact() {
      background-color: $purple;
      color: white;
    }

    time::first-letter {
      text-transform: uppercase;
    }
  }

  span {
    @extend %title-level3;
  }
}

.event-empty {
  @extend %title-level1;

  text-align: center;
  color: $blue;
}

@media ( min-width: $medium ) {
  .dates-list {
    li {
      width: (100% / 4);
    }
  }
}

@media ( min-width: $large ) {
  .dates-list {
    padding-left: $gutter;
    padding-right: $gutter;
    max-width: ( rem( 1110 ) + ($gutter * 2));
    margin-left: auto;
    margin-right: auto;

    li {
      width: (100% / 5);
    }

    a {
      min-height: rem( 130 );
    }
  }
}

@media ( min-width: $xlarge ) {
  .dates-list {
    li {
      width: (100% / 9);
    }
  }
}
