.archive-event {
  .date-selector {
    margin-bottom: rem( 60 );
    margin-top: rem( 60 );
    justify-content: center;
    color: black;

    li {
      width: (100% / 3);
    }

    .date-selector-final {
      width: calc( #{( 100% / 3 * 2 )} - 8px );

      li {
        width: ( 100% / 2 );
      }
    }
  }

  .date-selector a {
    border: solid 4px white;
    height: 100px;
    background-color: $yellow-light;
    text-align: center;
    font-size: rem( 14 );
    // padding: 15px 0 0 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .date-selector .selected a {
    background-color: $yellow;
    color: $blue;
  }

  .date-selector a:hover {
    border-color: $yellow-dark;
  }

  .date-selector span {
    font-size: rem( 18 );
    font-weight: 700;
  }


  .date-selector-final {
    background-color: $blue;
    color: white;
    font-size: 18px;
    margin: 4px;
    display: flex;
    align-items: stretch;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    ul {
      display: flex;
      flex-grow: 1;
    }

    p {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }

    a {
      height: 100%;
      border: 0;
      background-color: $blue;
    }
  }

  .date-selector-final li + li {
    border-left: solid 1px white;
    font-size: 16px;
    font-weight: normal;
  }

  .small-date-btn {
    height: 58px;
  }
}
